@model IEnumerable<ParaQum.Models.Bom>
@{
    ViewBag.Title = "Success";
}
<html>
<head>
    <title>imported file</title>
</head>
<body>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        View Order
                    </h2>
                    <ol class="breadcrumb">
                        <li>
                            <span class="glyphicon glyphicon-home"></span>  Home
                        </li>
                        <li>
                            <i class="fa fa-fw fa-bar-chart-o"></i> Create Order
                        </li>
                        <li class="active">
                            <span class="glyphicon glyphicon-eye-open"></span> View Order
                        </li>
                    </ol>
                    <div class="scrollit">
                        <table border="1">
                            <tr>
                                <th>Item</th>
                                <th>Customer Reference</th>
                                <th>Ref Designator</th>
                                <th>QTY - 1 board</th>
                                <th>QTY - 10 board</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Manufacture</th>
                                <th>MPN</th>
                                <th>VS NO</th>
                                <th>VS_TD_Comments</th>
                                <th>PAR Confirmation</th>
                            </tr>
                            @foreach (var b in ViewBag.ListProduct)
            {
                                <tr>
                                    <td>@b.itemNo</td>
                                    <td>@b.customerRef</td>
                                    <td>@b.refDesignator</td>
                                    <td>@b.qty1</td>
                                    <td>@b.qty10</td>
                                    <td>@b.description</td>
                                    <td>@b.value</td>
                                    <td>@b.manufacture</td>
                                    <td>@b.mpn</td>
                                    <td>@b.vsNo</td>
                                    <td>@b.vs_TdComment</td>
                                    <td>@b.parConfromation</td>


                                </tr>
                            }
                        </table>
                    </div>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Edit the BOM", "ABC", "OrderBom")
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


