@model ParaQum.Models.BOMHeader
@{
    ViewBag.Title = "Index";
}
<html>
    <head>
        <title>Import excel file</title>
    </head>
<body>
<h2>Index</h2>
@using (Html.BeginForm("import", "BomImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <div class="form-group">
                @Html.LabelFor(model => model.BomId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BomId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BomId, "", new { @class = "text-danger" })
                </div>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                @Html.LabelFor(model => model.AddedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AddedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                @Html.LabelFor(model => model.Project, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Project, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-danger" })
                </div>
            </div>
            
        </tr>
    </table>
@Html.Raw(ViewBag.Error)
<input type="file" name="excelfile" />
<input type="submit" value="import" />
    
}
    @using (Html.BeginForm("Success", "BomImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Raw(ViewBag.Error)
        
        <input type="submit" value="import" />

    }
</body>

</html>
