
@model IEnumerable<ParaQum.Models.userModel>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
<h4>Registered Users</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inventoryManager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.other)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.other)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Users")
                @Html.ActionLink("Delete", "Delete", "Users")
                <td/>
</tr>
      
       
    }

</table>